header {
  display: flex;

  nav {
    display: flex;

    #nav-features {
      display: flex;
      align-self: center;
      justify-content: flex-end;
    }
  }
}

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

#form{
  display: flex;
  flex-direction: column;
}

  #footer-btns {
    display: flex;
    justify-content: center;

    #order-btn, #help-btn, #about-btn, #contact-btn {
      flex: 1 1 auto;
    }
  }
