header {
  display: flex;

  nav {
    display: flex;

    #nav-features {
      display: flex;
      align-self: center;
      justify-content: flex-end;
    }
  }
}

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

#form{
  display: flex;
  flex-direction: column;
}

  #footer-btns {
    display: flex;
    justify-content: center;

    #order-btn, #help-btn, #about-btn, #contact-btn {
      flex: 1 1 auto;
    }
  }

#qty {
  display: inline;
}

// img {
//   max-width: 50%;
//   height: auto;
// }

.singleproductcard {
  width: 25rem;
  height: 25rem;
  border: 1px solid rgb(216, 216, 216);
}

.singleproduct {
  height: auto;
}

.cardimg {
  display: block;
  margin: auto;
  max-height: auto;
  max-width: 15rem;
}

.flex {
  display: flex;
}

.cat{
  padding: 3rem 5rem 3rem 5rem;
  background-color: rgba(214, 197, 246, 0.87);
}

.just-cent {
  justify-content: center;
}

#logo {
  max-height: 5em;
}

#viewbtn {
  position: absolute;
  width: 100%;
  bottom: -1%;
}

.singleproductimg {
  display: block;
  margin: auto;
  height: 20rem;
  width: auto;
}

.product-card {
  width: 95%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.main-container {
  margin: 1em;
}